<h1>Rxjs EXAMPLE</h1>
<div>
  <!--
    <p>{{usuario | json}}</p>
  -->

  <form #form="ngForm" (ngSubmit)="searchUser()">
    <label>Username: </label>
    <input type="txt" [(ngModel)]="txtUser" name="username" />
    <button type="submit">Buscar usuario</button>
  </form>
  <ng-container *ngIf="usuario">
    <p>Nombre: {{ usuario.name }}</p>
    <p>Email: {{ usuario.email }}</p>
    <p>Username: {{ usuario.username }}</p>
    <p>
      Pagina web:
      <a href="{{ usuario.website }}">{{ usuario.website }}</a>
    </p>
  </ng-container>
  <ng-container *ngIf="mensajeError">
    {{ mensajeError }}
  </ng-container>

  <div>
    <h2>Posts</h2>
    <ng-container *ngIf="publicacion">
      <p>Nombre: {{ publicacion.title }}</p>
      <p>Contenido : {{ publicacion.body }}</p>
    </ng-container>
  </div>
</div>